<div class="about-us">

    <section class="about-us__preview">
      <div class="h-container">
        <div class="about-us__preview__text">
            <p class="about-us__preview-sub-title text-typing">
              Communicate , Cooporate , <span class="marked-text">Win</span>
            </p>
            <h2 class="about-us__preview-title">
              <span class="marked-text">Home</span> for companies all around the world
            </h2>
        </div>
      </div>
        <div class="about-us__preview__video-wrapper">
          <div class="about-us__preview__shape"></div>
          <video  class="about-us__preview__video" autoplay>
            <source src="assets/mp4/video-intro-back.mp4" type="video/mp4">
          </video>
        </div>

    </section>
</div>

