.about-us{
  margin-top: 50px;
  &__preview{
    &__text{
    }
    &-sub-title{
      font-family: "RalewayLight";
      margin-bottom: 30px;
    }
    &-title{
      font-family: "RalewayRegular";
      font-size: 35px;
    }
  }

}
